</ion-view>
<ion-view hide-nav-bar="true" view-title="Book Your Vet">
<link href="css/sign.css" rel="stylesheet" type="text/css" />
<ion-content class="home-main bg-full">
    <div class="row">
	</div><img src="css/img/naren.png" class="margin-auto" width="50%">
    <p>
      <p><br>
    <div class="row row-no-padding">
    <div class="col">
      <button menu-close class="button button-positive width-80 margin-auto" ui-sref="app.sign">
        <b class="stable">SIGN-IN</b>
      </button><p><br>

          <button menu-close class="button button-assertive width-80 margin-auto" ui-sref="app.signup">
            <b class="stable">SIGN-UP</b>
          </button><p><br>

          <button menu-close class="button button-royal width-80 margin-auto" ui-sref="app.bookingDirection">
            <b class="stable">LOCATION</b>
          </button>
    </div>
</ion-content>
</ion-view>
